In [4]:
!pip install numpy pandas matplotlib

Collecting numpy
  Using cached numpy-1.26.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting pandas
  Using cached pandas-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting matplotlib
  Downloading matplotlib-3.8.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ngdy/anaconda3/envs/dm/lib/python3.12/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.1.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.43.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (152 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /home/ngdy/anaconda3/envs/dm/lib/python3.12/site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Using cached Pillow-10.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in /home/ngdy/anaconda3/envs/dm/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached numpy-1.26.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.9 MB)
Using cached pandas-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
Downloading matplotlib-3.8.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 530.6 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached contourpy-1.1.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (298 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.43.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.8 MB)
Using cached kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
Using cached Pillow-10.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (3.6 MB)
Using cached pyparsing-3.1.1-py3-none-any.whl (103 kB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.43.1 kiwisolver-1.4.5 matplotlib-3.8.1 numpy-1.26.1 pandas-2.1.2 pillow-10.1.0 pyparsing-3.1.1 pytz-2023.3.post1 tzdata-2023.3

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
SP500_PATH = '../data/processed/data_preprocess.csv'

In [11]:
df = pd.read_csv(SP500_PATH)
df.head()

,Unnamed: 0,time,open,high,low,close,Volume,Volume MA,MA,Histogram,MACD,Signal,RSI,RSI-based MA
0,88,2008-02-05 00:30:00+07:00,1395.38,1395.38,1382.82,1386.74,236,211.70,1378.457978,3.242913,10.103625,6.860712,64.949508,58.353508
1,89,2008-02-05 01:30:00+07:00,1386.55,1389.31,1382.19,1388.41,237,215.35,1377.654607,3.026444,10.643767,7.617323,65.639255,59.160424
2,90,2008-02-05 02:30:00+07:00,1388.29,1389.81,1382.94,1383.42,232,215.15,1376.867416,2.344218,10.547596,8.203378,61.730279,59.511266
3,91,2008-02-05 03:30:00+07:00,1383.62,1386.17,1381.18,1382.46,156,215.15,1376.148652,1.657671,10.275467,8.617796,60.977916,59.951720
4,92,2008-02-06 00:30:00+07:00,1380.28,1380.28,1352.63,1360.23,232,214.90,1375.191124,-0.356775,8.171827,8.528602,46.764504,59.347106

In [12]:
df.describe()

,Unnamed: 0,open,high,low,close,Volume,Volume MA,MA,Histogram,MACD,Signal,RSI,RSI-based MA
count,20743.000000,20743.000000,20743.000000,20743.000000,20743.000000,2.074300e+04,2.074300e+04,20743.000000,20743.000000,20743.000000,20743.000000,20743.000000,20743.000000
mean,10459.000000,2531.818608,2536.954354,2526.436213,2531.874033,4.598991e+07,4.583565e+07,2526.191483,0.002904,0.918152,0.915247,53.292033,53.291474
std,5988.132653,1023.932422,1025.936211,1021.816953,1023.967649,1.381925e+08,1.183950e+08,1022.068305,3.980443,13.029936,12.243396,13.464366,11.505732
min,88.000000,677.410000,678.870000,672.560000,674.700000,0.000000e+00,0.000000e+00,741.537191,-24.384358,-97.625031,-84.847051,6.818337,13.619441
25%,5273.500000,1881.895000,1886.325000,1877.510000,1881.735000,4.800000e+02,5.656500e+02,1883.883202,-1.631422,-3.671863,-3.419735,43.709981,44.923456
50%,10459.000000,2389.120000,2391.440000,2386.320000,2388.890000,3.599000e+03,3.410700e+03,2388.005843,-0.110019,2.291144,2.287039,54.259546,53.959290
75%,15644.500000,3165.695000,3172.350000,3157.220000,3167.000000,3.600000e+03,3.419850e+03,3132.390449,1.555567,7.387446,6.980133,63.513704,62.045199
max,20830.000000,4813.260000,4818.620000,4805.640000,4813.240000,2.644078e+09,5.980679e+08,4749.065393,26.963073,59.068995,50.627442,90.978283,83.697112

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20743 entries, 0 to 20742
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20743 non-null  int64
 1   time          20743 non-null  object
 2   open          20743 non-null  float64
 3   high          20743 non-null  float64
 4   low           20743 non-null  float64
 5   close         20743 non-null  float64
 6   Volume        20743 non-null  int64
 7   Volume MA     20743 non-null  float64
 8   MA            20743 non-null  float64
 9   Histogram     20743 non-null  float64
 10  MACD          20743 non-null  float64
 11  Signal        20743 non-null  float64
 12  RSI           20743 non-null  float64
 13  RSI-based MA  20743 non-null  float64
dtypes: float64(11), int64(2), object(1)
memory usage: 2.2+ MB

In [24]:
df["time"] = pd.to_datetime(df.time)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20743 entries, 0 to 20742
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20743 non-null  int64
 1   time          20743 non-null  datetime64[ns, UTC+07:00]
 2   open          20743 non-null  float64
 3   high          20743 non-null  float64
 4   low           20743 non-null  float64
 5   close         20743 non-null  float64
 6   Volume        20743 non-null  int64
 7   Volume MA     20743 non-null  float64
 8   MA            20743 non-null  float64
 9   Histogram     20743 non-null  float64
 10  MACD          20743 non-null  float64
 11  Signal        20743 non-null  float64
 12  RSI           20743 non-null  float64
 13  RSI-based MA  20743 non-null  float64
dtypes: datetime64[ns, UTC+07:00](1), float64(11), int64(2)
memory usage: 2.2 MB

In [25]:
print('Check for N/A:\n' ,df.isna().sum())
print('Check for NULL:\n' ,df.isnull().sum())

Check for N/A:
 Unnamed: 0      0
time            0
open            0
high            0
low             0
close           0
Volume          0
Volume MA       0
MA              0
Histogram       0
MACD            0
Signal          0
RSI             0
RSI-based MA    0
dtype: int64
Check for NULL:
 Unnamed: 0      0
time            0
open            0
high            0
low             0
close           0
Volume          0
Volume MA       0
MA              0
Histogram       0
MACD            0
Signal          0
RSI             0
RSI-based MA    0
dtype: int64

In [46]:
start = df.iloc[0][0]
end = df.iloc[-1][0]
duration = end-start
print(f"Start: {start}\nEnd: {end}\nDuration: {duration} entries")

Start: 88
End: 20830
Duration: 20742 entries

/tmp/ipykernel_10847/1969405163.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  start = df.iloc[0][0]
/tmp/ipykernel_10847/1969405163.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  end = df.iloc[-1][0]